*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script';
    font-size: 25px;
    text-align: justify;
}

header{
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 142, 210);
    padding: 10px;
    border-bottom: 2px solid rgb(245, 151, 207);
}

body{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
}

.logo1{
    width: 45%;
}

.menu{
    float: right;
}

.menu-mobile{
    display: none;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.title{
    text-align: center;
    color: rgb(255, 0, 191);
    font-weight: 900;
    text-shadow: 2px 2px 2px #000000;
}

.personalimg{
    width: 86%;
    margin: 50px 0 50px 60px;
    border-radius: 30px;
    -webkit-box-shadow: 7px -1px 16px 5px rgba(0,0,0,0.77);
    -moz-box-shadow: 7px -1px 16px 5px rgba(0,0,0,0.77);
    box-shadow: 7px -1px 16px 5px rgba(0,0,0,0.77);
}

.about{
    padding-top: 50px;
    text-align: justify;
}

.content1{
    margin: 50px;
}

.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top:10px;
    padding: 0;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #eab6e6;
    font-size: 0px;
	border-width: 0;
	background: #eab6e6;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
    width: 30px;
	height: 30px;
    border-radius: 10px;
    font-size: 0px;
    background: url("images/flor.png");
}

.slick-slide:focus { outline: none; }


/* SLIDES */
.slides{
    background-color: #fce6fa;
    padding: 75px 0px;
}

.slides-box {
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
    width: 100%;
}

.slides-single {
    display: inline-block;
}

.slides-single p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: #0073d9;
    color: white;
    padding: 5px 5px;
    margin-top: 20px;
    border-radius: 10px;
}


.slides-single img {
    height: 400px;
    display: block;
    margin: 10px auto;
    cursor: grab;
    box-shadow: 10px 10px 15px 7px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.encontros p{
    margin: 0 100px;
    padding: 50px 0;
}

footer{
    padding: 10px;
    background-color: rgb(255, 142, 210);
    border-top: 2px solid rgb(245, 151, 207);
}

footer h5{
    color: rgb(235, 235, 235);
    text-shadow: 2px 2px 2px #000000;
    text-align: unset;
}

footer img{
    width: 12%;
    border-radius: 10px;
}

footer a{
    transition: all 0.5s;
    padding: 10px;
}

footer a:hover{
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .4))
}

.footermobile{
    display: none;
}


.logo{
    width: 55%;
}

/* Página Depoimentos */

.depoimentos{padding-top: 80px;}


.depoimentos-box{
	margin:10px auto;
	overflow: hidden;
	width: 90%;
	display: block;
}
.depoimento-single{width: 99%;display: inline-block;margin: 0 10px; cursor: pointer;} 
.depoimento-single p{margin-bottom: 15px;}

/* RESPONSIVO */

@media (max-width: 768px){

/* HEADER */
    .menu-mobile{
        margin: 0 auto;
        margin-top: 10px;
        display: block;
    }

    .logo1{
        width: 100%;
    }

    .menu{
        display: none;
    }

/* CONTENT */

    .content1{
        margin-top: 90px;
    }

    .personalimg{
        display: none;
    }

    .slides-single img {
        height: 250px;
    }

    .slides-box{
        width: 90%;
    }

    .encontros p{
        margin: 0;
        padding: 30px;
    }

/* FOOTER */
    .footerDesk{
        display: none;
    }

    .slogan{
        display: none;
    }

    .logoMob{
        width: 50%;
    }

    .footermobile{
        text-align: center;
        display:block;
    };


}

@media (max-width: 1000px){

    .col-md-4{
        display: none;
    }

    .slides-single img {
        height: 250px;
    }

    .slogan h5{
        font-size: 30px;
    }
    .logo2 img{
        width: 110%;
    }

    .contato img{
        width: 20%;
    }
}